In [1]:
#Import modules
import pandas as pd
from bokeh.plotting import figure, show
from bokeh.models import ColumnDataSource, NumeralTickFormatter
from bokeh.io import output_notebook, show
from bokeh.palettes import RdBu
from bokeh.transform import linear_cmap, jitter

In [2]:
#change Pandas’ default display settings to show more rows or columns
pd.options.display.max_rows = 100

In [9]:
#read the CSV file
Face_Time_df = pd.read_csv('/Users/liyang/Desktop/Dataset1.csv', delimiter=",", encoding='utf-8')
#Exploring the proportion of male and female faces in Times Magazine between 1923-2014

In [10]:
#display Data
Face_Time_df

,index,ID,year,month,day,page,image,x1,y1,x2,y2,crop.accuracy,gender,gender.accuracy,issue
0,1,1,1923,3,10,1.0,1923-03-10 page 1 face1.png,258,610,705,1118,0.991561,male,0.999919,1923-03-10
1,2,2,1923,3,10,10.0,1923-03-10 page 10 face1.png,503,315,567,392,0.976006,male,0.999178,1923-03-10
2,3,3,1923,3,10,11.0,1923-03-10 page 11 face1.png,436,300,647,564,0.992560,male,0.999985,1923-03-10
3,4,4,1923,3,10,13.0,1923-03-10 page 13 face1.png,458,315,628,532,0.998016,male,0.999997,1923-03-10
4,5,5,1923,3,10,14.0,1923-03-10 page 14 face1.png,441,397,650,672,0.997483,male,0.995122,1923-03-10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
327317,327318,327318,2014,9,29,7.0,2014-09-29 page 7 face1.png,660,694,751,809,0.996766,male,0.999954,2014-09-29
327318,327319,327319,2014,9,29,7.0,2014-09-29 page 7 face2.png,866,1244,937,1325,0.984588,female,0.996912,2014-09-29
327319,327320,327320,2014,9,29,7.0,2014-09-29 page 7 face3.png,102,992,184,1092,0.984268,male,0.999924,2014-09-29
327320,327321,327321,2014,9,29,70.0,2014-09-29 page 70 face1.png,619,624,809,872,0.997080,male,0.999985,2014-09-29
327321,327322,327322,2014,9,29,71.0,2014-09-29 page 71 face1.png,667,13,939,323,0.986578,female,0.998625,2014-09-29

In [11]:
#check rows and columns
Face_Time_df.shape

(327322, 15)

In [12]:
#check the columns
Face_Time_df.columns

Index(['index', 'ID', 'year', 'month', 'day', 'page', 'image', 'x1', 'y1',
       'x2', 'y2', 'crop.accuracy', 'gender', 'gender.accuracy', 'issue'],
      dtype='object')

In [13]:
#check the summary statistics
Face_Time_df.describe(include='all')
#did not find any outliers

,index,ID,year,month,day,page,image,x1,y1,x2,y2,crop.accuracy,gender,gender.accuracy,issue
count,327322.000000,327322.000000,327322.000000,327322.000000,327322.000000,327321.000000,327322,327322.000000,327322.000000,327322.000000,327322.000000,327322.000000,327322,327322.000000,327322
unique,NaN,NaN,NaN,NaN,NaN,NaN,327322,NaN,NaN,NaN,NaN,NaN,2,NaN,3389
top,NaN,NaN,NaN,NaN,NaN,NaN,1923-03-10 page 1 face1.png,NaN,NaN,NaN,NaN,NaN,male,NaN,1999-06-14
freq,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN,235994,NaN,419
mean,163661.500000,163661.500000,1972.239773,6.578733,18.935687,52.696827,NaN,487.225377,556.949386,619.914525,715.771500,0.975717,NaN,0.960393,NaN
std,94489.866743,94489.866743,23.715097,3.443489,7.505819,33.776770,NaN,258.734512,338.477522,259.145800,335.994693,0.023837,NaN,0.096585,NaN
min,1.000000,1.000000,1923.000000,1.000000,1.000000,1.000000,NaN,0.000000,0.000000,41.000000,62.000000,0.900002,NaN,0.500005,NaN
25%,81831.250000,81831.250000,1952.000000,4.000000,14.000000,25.000000,NaN,268.000000,265.000000,399.000000,432.000000,0.965346,NaN,0.986296,NaN
50%,163661.500000,163661.500000,1973.000000,7.000000,19.000000,48.000000,NaN,480.000000,498.000000,627.000000,666.000000,0.984844,NaN,0.999594,NaN
75%,245491.750000,245491.750000,1994.000000,10.000000,25.000000,76.000000,NaN,709.000000,810.000000,839.000000,968.000000,0.993537,NaN,0.999987,NaN
max,327322.000000,327322.000000,2014.000000,12.000000,31.000000,257.000000,NaN,1114.000000,1470.000000,1194.000000,1549.000000,0.999982,NaN,1.000000,NaN

In [18]:
#Import necessary Bokeh modules
from bokeh.plotting import figure, show
from bokeh.models import ColumnDataSource, NumeralTickFormatter
from bokeh.io import output_notebook, show
from bokeh.palettes import RdBu
from bokeh.transform import linear_cmap, jitter

In [22]:
#Make groupby into a new DataFrame
gender_df = gender_Face_Time_df = Face_Time_df.groupby('gender')

# Set up the source data that will suppply the x,y columns and the magazine title hover text
source = ColumnDataSource(gender_df)

# Set the hover tool tip to the page, release year, and proportion of gender
TOOLTIPS = [("Page", "@page_std"),
            ("Year", "@year_std"),
           ("Gender", "@gener")]

#Set up Bokeh plot with title, labels,
bokeh_plot = figure(title="Ratio of male to female faces in Time Magazine between 1923-2014", x_axis_label = 'year_std',
                    y_axis_label = 'gender',x_range = [1923, 2014], y_range = ['male','female'],
                 tooltips=TOOLTIPS, width=800, height=550, active_scroll='wheel_zoom')

# Create a red to blue color palette
color_mapper = linear_cmap(field_name='page_std', palette=RdBu[4], low=1.1, high=0)

# Supply inidivudal points values
bokeh_plot.circle(y='year_std', x=jitter('gender', width=.2),
         size = 10,
        line_color='black',
        line_alpha=.4,
         source=source,
         color=color_mapper, alpha=.5)

bokeh_plot.title.text_font_size='20pt'

show(bokeh_plot)

# i dont know why i can not see the plot...